{% extends "base.html" %}

{% block title %}
    Login - TaskHive
{% endblock %}


{% block content %}

<div class="form-page">

    <div class="form-card small-form">

        <div class="form-header">

            <span class="hero-badge">
                Welcome Back
            </span>

            <h1>
                Login
            </h1>

            <p>
                Sign in to your TaskHive account.
            </p>

        </div>


        <form method="post">

            {% csrf_token %}


            {% if form.non_field_errors %}

                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>

            {% endif %}


            <div class="form-group">

                <label for="{{ form.username.id_for_label }}">
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    id="{{ form.username.id_for_label }}"
                    class="form-control"
                    required
                    autofocus
                >

                {{ form.username.errors }}

            </div>


            <div class="form-group">

                <label for="{{ form.password.id_for_label }}">
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    id="{{ form.password.id_for_label }}"
                    class="form-control"
                    required
                >

                {{ form.password.errors }}

            </div>


            <button
                type="submit"
                class="btn btn-primary btn-full"
            >
                Login
            </button>

        </form>


        <p class="form-footer">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </p>

    </div>

</div>

{% endblock %}
